body {
	background-image: url(http://wallpaperscraft.com/image/dive_mesh_black_white_lines_63481_1920x1080.jpg);
	background-repeat: no-repeat;
	background-position:center top;
	background-size:cover;
	background-attachment: fixed;
	color:#fff;
}

a{
	color:#000;
	text-decoration: none;
}

a:hover{
	color:#000;
}

.wrapper {
	width: 1024px;
	margin: 0 auto;
}

#menu{
	margin-top:30px;
	background-color: rgba(0,0,0, .6);
}

#menu nav ul{
	margin:0;
	padding-left:0px;
}
#menu nav ul li{
	display: inline-block;
}
#menu nav ul li a{
	display: block;
	padding:10px 20px;
}
#menu nav ul li.active a{
	color:#000;
}


#main{
	margin-top:20px;
}

.box{
	background-color: rgba(0,0,0, .6);
	padding:20px;
}

.index_info{
	text-align:center;
}
.index_info h1{
	font-size:36pt;
}

.box .video{
	margin-bottom:60px;
}

.personal{
	margin-bottom: 50px;
}

.left{
	float: left;
}
.photo{
	width: 160px;
}
.photo img{
	width: 100%;
	border-radius: 50%;
}
.gammer_info{
	width:804px;
	padding-left:20px;
}
.gammer_info p{
	font-size: 18px;
}
.gammer_info p.name_id{
	margin-top:0px;
	font-size: 25px;
}

.gammer_info nav ul{
	margin:0;
	padding-left:0px;
}
.gammer_info nav ul li{
	display: inline-block;
}
.gammer_info nav ul li a{
	display: block;
	padding-right:20px;
}
.gammer_info nav ul li a img{
	vertical-align: middle;
}

/* clearfix 解決用到float時可能發生的意外情況 */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
